html{
    height: 100%;
    z-index: 0;
}

a{
    color: #e5e600;
    text-decoration: none;
}

a:hover{
    color: #e5e600;
    text-decoration: none;
}

.navigation a:hover{
    text-decoration: none;
}

body{
    height: 100%;
    background-color: #232323;
    overflow: hidden;
    color: #e5e600;
}

.image-cover-home {
    width: 100%;
    height: 90%;
    background: fixed url("../img/wall-cover.jpg") center center no-repeat;
    background-size: cover;
    z-index: 10;
    position: fixed;
}

.font-welcome-text{
    text-align: center;
    color: #e5e600;
}

.login-form-wrapper, .register-form-wrapper {
    background-color: #404040;
    box-sizing: border-box;
    border-radius: 4px;
    display: flex;
    justify-content: space-around;
}

.login-form-wrapper{
    width: 25%;
    height: 17%;
    margin-left: 70%;
    margin-top: 10%;
}

.login-form{
    margin: auto;
}

.description h2, .coefficients h2, .make-results-wrapper h2, .balance-table h2,
.page-not-found-wrapper h2{
    text-align: center;
}

.form-control{
    height: 25px;
    border: 0;
}

.form-control:focus{
    outline: none;
    box-shadow: 0 0 20px #feff33;
}

input:invalid, input:focus:invalid{
    outline: none;
    box-shadow: 0 0 20px #f00;
}

.login-form-wrapper input{
    border: 0;
    border-radius: 2px;
}

.login-form-wrapper .second-line{
    display: inline-flex;
    justify-content: space-between;
    margin-top: 10px;
    width: 100%;
}

.login-form-wrapper input[type=text]{
    width: 100%;
}

.login-form-wrapper .second-line input[type=password]{
    width: 70%;
}

.login-form-wrapper .second-line input[type=button]{
    width: 25%;
    background-color: #e5e600;
    opacity: 0.9;
    border-color: #000;
    color: #000;
}

.login-form-wrapper .second-line input[type=button]:hover{
    opacity: 1;
}

.login-form-wrapper .second-line .form-control{
    margin-bottom: 0;
}

.register-form-wrapper {
    width: 25%;
    height: 60%;
    background-color: #404040;
    margin-left: 38%;
    margin-top: 12%;
}

.register-form {
    color: #e5e600;
    width: 90%;
    margin: auto;
}

.image-cover-register {
    width: 100%;
    height: 90%;
    background: fixed url("../img/registration-cover.jpg") center top no-repeat;
    background-size: cover;
}

.register-form .btn-primary, .balance-table .btn-primary{
    margin-top: 5%;
    border-radius: 2px;
    border: 0;
    background-color: #e5e600;
    color: #000;
}

.register-form input{
    width: 100%;
}

.navigation{
    width: 100%;
    background-color: #404040;
    display: inline-flex;
    justify-content: space-between;
}

.table-wrapper{
    margin: 3% auto auto;
    width: 80%;
}

.table-bordered{
    width: 50%;
    color: #e5e600;
    margin: auto;
}

.table-bordered input[type=number], .table-bordered input[type=checkbox]{
    color: #000;
    border-radius: 2px;
    border: 0;
    outline: none;
}

.table-bordered input[type=checkbox]:focus{
    box-shadow: 0 0 20px #feff33;
}

.table-bordered input[type=checkbox]{
    margin-right: 0;
}

.table-bordered input[type=number]:focus{
    box-shadow: 0 0 20px #feff33;
}

.coefficients td input[type=text]{
    float: right;
    width: 50%;
}

.clear-fix{
    clear: both;
}

.coefficients .btn-primary, .details-bookmaker .btn-primary, .make-results-wrapper .btn-primary,
.create-race-wrapper .btn-primary{
    width: 100%;
    border-radius: 2px;
    border: 0;
    background-color: #e5e600;
    color: #000;
}

.coefficients tfoot td{
    border: 0;
}

.notification-wrapper{
    width: 100%;
}

.notification-wrapper div{
    width: 50%;
    margin: auto;
}

.message{
    border: 1px solid;
    background-color: #404040;
}

.make-results-wrapper{
    width: 50%;
    margin: auto;
}

.create-race-wrapper{
    width: 30%;
    margin: auto;
}

.create-race-wrapper .btn-primary{
    margin-top: 5px;
}

.create-race-wrapper .form-control{
    display: inline-block;
    float: right;
    margin: 3px 0;
    width: 60%;
}

.buttons .btn-primary{
    display: inline-block;
    width: 45%;
}

.buttons #delete-button{
    float: right;
}

#error-message{
    overflow: hidden;
    z-index: 1002;
    background-color: #606060;
    border-radius: 4px;
    position: absolute;
    width: 35%;
    height: 20%;
    top: 20%;
    left: 30%;
}

#error-message .header{
    font-size: 1.18em;
    font-weight: bold;
    height: 25%;
    padding-left: 2%;
    padding-top: 1%;
}
#error-message .content{
    padding-left: 2%;
    background-color: #404040;
    height: 45%;
}
#error-message .footer{
    height: 30%;
    padding-right: 1%;
    padding-top: 1%;
}
#error-message .footer button{
    height: 25px;
    float: right;
    opacity: 0.9;
}

.black-overlay{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    z-index:1001;
    -moz-opacity: 0.8;
    opacity:.80;
    filter: alpha(opacity=80);
}

.language-section{
    float: left;
}

.balance-wrapper{
    width: 30%;
    height: 40%;
    margin: auto;
    border-radius: 20px;
    background-color: #404040;
}

.balance-table{
    width: 80%;
    height: 80%;
    margin: auto auto;
}

.balance-table label{
    width: 100%;
}

.balance-table input{
    width: 100%;
}

.nav>li>a:hover{
    background-color: #404040;
}

.race-table-wrapper a{
    color: #00b300;
}

.race-table-wrapper a:hover{
    color: #009900;
}

.coefficients td{
    display: inline-block;
}

.left-span{
    float: left;
}

.right-span{
    float: right;
}

.set-coefficients .btn-primary{
    width: 100%;
    background-color: #e5e600;
    color: #000;
    border: 0;
}

.image-cover-not-found {
    width: 100%;
    height: 100%;
    background: fixed url("../img/not-found-cover.jpg") center center no-repeat;
    background-size: cover;
    z-index: 10;
    position: fixed;
}

.page-not-found-wrapper, .page-access-denied-wrapper{
    position: fixed;
    left: 40%;
}

h2{
    text-align: center;
}

.error-page-wrapper{
    position: fixed;
    left: 40%;
    top: 30%;
}

.page-not-found-wrapper h2 a{
    color: black;
}

.error-page-wrapper h2 a, .page-access-denied-wrapper h2 a{
    color: #fff;
}

.image-cover-error-page{
    width: 100%;
    height: 100%;
    background: fixed url("../img/error-page-cover.jpg") center center no-repeat;
    background-size: cover;
    z-index: 10;
    position: fixed;
}

.image-cover-access-denied{
    width: 100%;
    height: 100%;
    background: fixed url("../img/access-denied-cover.jpg") center center no-repeat;
    background-size: cover;
    z-index: 10;
    position: fixed;
}